
@font-face {font-family: "a Absolute Empire";
    src: url("https://db.onlinewebfonts.com/t/6fd67d9935830d3c877b848043389a8c.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/6fd67d9935830d3c877b848043389a8c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/6fd67d9935830d3c877b848043389a8c.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/6fd67d9935830d3c877b848043389a8c.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/6fd67d9935830d3c877b848043389a8c.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/6fd67d9935830d3c877b848043389a8c.svg#a Absolute Empire") format("svg"); /* iOS 4.1- */
}

body {
    background-image: url(ASSET/IMG/backgraound_baru.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

/* header */

/* header */
/* section 1 start */

.harslotnas .row {
    justify-content: center;

    margin-right: 0px;
    margin-left: 0px;
}

/* section 1 end*/

/* section 2 start */

/* section 2 end */

/* section 3 start */

.grandprize .row .logogift {
    justify-content: center;
}
.grandprize .row .col-8 .textnotif2 {
    font-size: 8px;
    text-align: center;
    text-align: center;
    height: 1rem;
    margin-bottom: 25px;
}

/* section 3 end */

/* section 4 start */
.leaderboard .row {
    justify-content: center;
}
.leaderboard .row .logotext {
    display: flex;
}
/* section 4 end */

@media (min-width: 576px) {
    /*section2*/
    .termandcondition .rules1 .row {
        justify-content: center !important;
    }
    .termandcondition .rules2 .row {
        justify-content: center !important;
    }
    .termandcondition .rules3 .row {
        justify-content: center !important;
    }
    .termandcondition .rules4 .row {
        justify-content: center !important;
    }
    .termandcondition .rules5 .row {
        justify-content: center !important;
        padding-bottom: 2rem;
    }
    .termandcondition .rules6 .row {
        justify-content: center !important;
    }

    .numberone {
        font-size: 30px;
    }

    .termandcondition .rules1 .col-8 .numberone {
        font-size: 30px;
    }
    .termandcondition .rules2 .col-8 .numbertwo {
        font-size: 30px;
    }
    .termandcondition .rules3 .col-8 .numbertree {
        font-size: 25px;
    }
    .termandcondition .rules4 .col-8 .numberfour {
        font-size: 25px;
    }
    .termandcondition .rules5 .col-8 .numberfive {
        font-size: 25px;
        padding-left: 10px;
    }
    .termandcondition .rules6 .col-8 .numbersix {
        font-size: 27px;
    }

    /*section3*/

    .grandprize .row .col-8 {
        margin-bottom: 10px;
    }
    .grandprize .row .col-8 .textnotif2 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .grandprize .row .col-10 .logo-notifgift2 {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .termandcondition .rules1 .row {
        padding-bottom: 3rem !important;
    }

    .termandcondition .rules2 .row {
        padding-bottom: 3rem !important;
    }

    .termandcondition .rules3 .row {
        padding-bottom: 3rem !important;
    }

    .termandcondition .rules4 .row {
        padding-bottom: 3rem !important;
    }
    .termandcondition .rules5 .row {
        padding-bottom: 3rem !important;
    }
    .termandcondition .rules6 .row {
        padding-bottom: 3rem !important;
    }
}

@media (min-width: 1200px) {
    /* section1 */
    #section1 .harslotnas .row .col-8 .logostar77 {
        display: flex;
        justify-items: center;
    }
    /* section1 end */

    /* section2 */
    .termandcondition .row .col-8 .logoterm {
        display: flex;
        justify-content: center;
    }

    .termandcondition .rules1 .row {
        justify-content: center !important;
    }
    .termandcondition .rules2 .row {
        justify-content: center !important;
    }
    .termandcondition .rules3 .row {
        justify-content: center !important;
    }
    .termandcondition .rules4 .row {
        justify-content: center !important;
    }
    .termandcondition .rules5 .row {
        justify-content: center !important;
        padding-bottom: 2rem;
    }
    .termandcondition .rules6 .row {
        justify-content: center !important;
    }

    .termandcondition .rules1 .col-8 .numberone {
        font-size: 30px;
    }
    .termandcondition .rules2 .col-8 .numbertwo {
        font-size: 30px;
    }
    .termandcondition .rules3 .col-8 .numbertree {
        font-size: 25px;
    }
    .termandcondition .rules4 .col-8 .numberfour {
        font-size: 25px;
    }
    .termandcondition .rules5 .col-8 .numberfive {
        font-size: 25px;
        padding-left: 10px;
    }
    .termandcondition .rules6 .col-8 .numbersix {
        font-size: 27px;
    }
    /* section2 end*/

    /* section3 star*/
    .grandprize .row .col-8 {
        display: flex;
        justify-content: center;
    }

    .grandprize .row .col-10 .logo-notifgift2 {
        display: flex;
        justify-content: center;
    }
    /* section3 end */

    /* section4 */
    .leaderboard .row .col-4 .logo-sportedby {
        display: flex;
        justify-content: center;
    }
    /* section4 end */
}


#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0
}
@media (min-width:320px) {
    .lb-wrapper {
        position: relative;
    }

    .lb-wrapper .date {
        position: absolute;
        top: 16.5%;
        left: 50%;
        transform: translate(-50%, -16.5%);
        color: white;
        font-family: "a Absolute Empire", sans-serif;
    }

    .first-wrapper {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -40%);
        padding: 1.25rem;
    }

    .first-wrapper p, h6 {
        color: white;
        font-family: "a Absolute Empire", sans-serif;
        text-align: left;
        margin-bottom: 0;
    }

    .second-wrapper {
        width: 100%;
    }

    .lb-item {
        max-width: 50%;
        color: white;
        font-family: "a Absolute Empire", sans-serif;
    }

    .lb-item .number {
        width: 48px;
        height: 48px;
    }

    .lb-item .number.small {
        width: 24px;
        height: 24px;
        padding: .15rem;
    }

    .lb-name h6, p, img {
        margin: 0;
    }

    .lb-name .smaller {
        font-size: small;
    }

    .lb-name .turn-over {
        font-size: small;
    }

    .seo-text p {
        margin-bottom: .75rem;
        text-align: justify;
    }

    .seo-text h1, h2 {
        margin-bottom: .75rem;
    }


    .seo-text p {
        margin-bottom: .75rem;
        text-align: justify;
    }

    .seo-text h1, h2 {
        margin-bottom: .75rem;
        color: #673A87;
    }

    .w-40 {
        width: auto;
    }
}
@media (min-width:1024px) {
    .lb-wrapper {
        position: relative;
    }

    .lb-wrapper .date {
        position: absolute;
        top: 31.5%;
        left: 50%;
        transform: translate(-50%, -31.5%);
        color: white;
        font-family: "a Absolute Empire", sans-serif;
    }
    .first-wrapper {
        width: 100%;
        top: 60%;
        left: 0%;
        transform: translate(0%, -40%);
    }

    .lb-item {
        max-width: inherit;
    }
    .lb-item.d{
        max-width: 50%;
        margin-right: auto!important;
        margin-left: auto!important;
    }
    .lb-item h6{
        font-size: 1.75rem;
    }
    .lb-name .turn-over {
        font-size: medium;
    }
}

video{
    width: 100%;
}




